[Unit]
Description=Linux kernel supervisor
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/lib/linuxd

[Install]
WantedBy=multi-user.target